body {
    font-family: "Roboto Mono",monospace;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="date"]{
    background-color: #0080ff;
    padding: 15px;
    position: absolute;
    margin: 20px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 26px;
    border: none;
    outline: none;
    border-radius: 5px;
    z-index: 99;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.container {
    display: flex;
    width: 100%;
    min-height: 106px;
}
.container.first {
    margin: 20px;
}
.cruz {
    flex: 1;
    position: relative;
}
.flex1{
    flex: 1;
}
.numeros {
    flex: 1;
}
.square {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    margin: 20px 0px;
}
.square:after {
    position: absolute;
    content: "\d7";
    font-size: 478px;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 300px;
    line-height: 240px;
}
.top-balls {
    position: absolute;
    color: white;
    font-size: 36px;
    background: orange;
    width: 48px;
    text-align: center;
    border-radius: 50%;
}

.ball-one {
    top: 72px;
    left: 66px;
}
.ball-two {
    top: 110px;
    left: 180px;
    background: green;
}
.ball-three {
    top: 72px;
    left: 290px;
}
.ball-four {
    top: 194px;
    left: 100px;
    background: green;
}
.ball-five {
    top: 194px;
    left: 256px;
    background: green;
}
.ball-six {
    top: 305px;
    left: 66px;
}
.ball-seven {
    top: 272px;
    left: 180px;
    background: green;
}
.ball-eight {
    top: 305px;
    left: 292px;
}
.numeros-label{
    margin: 10px;
}
.numeros-input{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px rgb(16, 164, 255);
}
.cuadros{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px rgb(210, 3, 76);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
